@import "tailwindcss";

:root {
  /* Main Colors */
  --background: #fffbf5;
  --surface: #fff6e8;
  --footer: #28170d;

  /* Text */
  --foreground: #28170d;
  --text-secondary: #6b5a4d;

  /* Inputs */
  --input-bg: #efd6ad;
  --border: #e8d9bd;
}

@theme inline {
  /* Tailwind Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-footer: var(--footer);

  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --color-input-bg: var(--input-bg);
  --color-border: var(--border);

  /* Fonts */
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

/* Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Inputs */
input,
select,
textarea {
  background: var(--input-bg) !important;
  color: var(--foreground) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
}


@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(300%);
  }
}

.loading-bar {
  animation: loading 1s linear infinite;
}
