@import "tailwindcss";

:root {
  /* Main Colors */
  --background: #fffbf5;
  --surface: #fff6e8;
  --footer: #28170d;

  /* Text */
  --foreground: #28170d;
  --text-secondary: #6b5a4d;

  /* Inputs */
  --input-bg: #efd6ad;
  --border: #e8d9bd;
}

@theme inline {
  /* Tailwind Colors */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-footer: var(--footer);

  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --color-input-bg: var(--input-bg);
  --color-border: var(--border);

  /* Fonts */
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant);
}

/* Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Inputs */
input,
select,
textarea {
  background: var(--surface) !important;
  color: var(--foreground) !important;
  border: 1px solid var(--border);
}

/* Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--surface) inset !important;
  -webkit-text-fill-color: var(--foreground) !important;
  caret-color: var(--foreground) !important;
}





.loader-ring {
  position: absolute;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2.5px solid rgba(0, 0, 0, 0.08);
  border-top-color: #ff6e23;
  border-right-color: #28170d;
  animation: smoothSpin 1s linear infinite;
}

@keyframes smoothSpin {
  100% {
    transform: rotate(360deg);
  }
}
